.side-menu__nav-item_active {
  color: #7e7e82;
}
.side-menu__nav-item_active::before {
  content: "";
  height: 32px;
  border-right: 6px solid #41f6d7;
  border-radius: 100px;
  position: absolute;
  left: -27px;
}
